pyyaml
fastapi==0.95.1
uvicorn
py3langid
iso-639
openai==0.27.8
opencv-python==4.8.1.78.76
gradio
httpx[socks]
astunparse
langchain==0.0.157
scikit-learn
pydantic==1.10.13
typing-extensions==4.5.0
typing-inspect==0.8.0
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
starlette>=0.27.0 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
